<app-navbar></app-navbar>

<div style="background-color:azure;">
    <div class="table-container" *ngIf="role !== 'USER'">

        <h2>Customers</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Customer #</th>
                    <th>Customer Name</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers$ | async">
    
                    <td>{{ customer.customerId}}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
    
                    <td> <button class="btn btn-info" (click)="editCustomer(customer)">Edit</button>
                    </td>
                    <td> <button class="btn btn-danger" (click)="deteteCustomer(customer)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="table-container">
    
        <h2>Accounts</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Account Id</th>
                    <th>Customer ID</th>
                    <th>Balance</th>
    
                    <th *ngIf="role !== 'USER'">Edit</th>
                    <th *ngIf="role !== 'USER'">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts$ | async">
                    <td>{{ account.accountId}}</td>
                    <td>{{ account.customer.customerId }}</td>
                    <td>{{ account.balance }}</td>
                    <td *ngIf="role !== 'USER'"> <button class="btn btn-info" (click)="editAccount(account)">Edit</button>
                    </td>
                    <td *ngIf="role !== 'USER'"> <button class="btn btn-danger" (click)="deteteAccount(account)">Delete</button>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="table-container">
    
        <h2>Transactions</h2>
        <table class="table table-bordered" style="border-radius: 5px;">
            <thead>
                <tr>
    
                    <th>Account ID</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactions$ | async">
    
                    <td>{{ transaction.accounts?.accountId }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.transactionDate | date:'longDate'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>